# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv
env/
venv/

# Environment variables (IMPORTANT)
.env

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit secrets (if used)
.streamlit/secrets.toml

# Model files (optional - if large)
artificates/similarity.pkl
*.pkl
!artificates/movie_list.pkl

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

